:root {
    --bg-color: #ff3472;
    --size: 10px;
}

html,
body {
    margin: 0;
    background: linear-gradient(90deg, #D47C7C 0%, #B9ABAB 100%);
    align-content: center;

}

controls {
    margin: auto;
    align-content: center;
    padding: 10px;
}

draw {}

canvas {

    display: block;
    margin: auto;
    border: 4px solid black;
    background: var(--bg-color);

}